<div class="header-bar">
    <h1 class="page-title"> Типы объектов </h1>
    <div class="option-bar">
        <a class="config-button"
            routerLink="/objects-types"
            routerLinkActive="active">*</a>
        <div>Иванов Иван Иванович</div>
    </div>
</div>

<nav class="navbar navbar-light bg-light">
    <form *ngIf="!newObjectTypes"
        class="form-inline">
        <select [formControl]="selectType"
            class="form-control form-control-sm mr-sm-2">
            <option *ngIf="!objectTypes.length"
                value="">тип объекта</option>
            <option *ngFor="let type of objectTypes"
                [value]="type.code">{{ type.name }}</option>
        </select>
        <button (click)="addObjectType()"
            class="btn btn-sm btn-outline-success my-2 my-sm-0"
            type="submit">добавить</button>
    </form>
    <form *ngIf="newObjectTypes && objectTypeForm"
        class="form-inline">
        <input [formControl]="objectTypeForm.controls['code']"
            class="form-control form-control-sm mr-sm-2"
            placeholder="Код">
        <input [formControl]="objectTypeForm.controls['name']"
            class="form-control form-control-sm mr-sm-2"
            placeholder="Наименование">
        <button (click)="saveObjectType()"
            class="btn btn-sm btn-outline-success my-2 my-sm-0"
            type="submit">сохранить</button>
        <button (click)="cancelObjectType()"
            class="btn btn-sm btn-outline-success my-2 my-sm-0"
            type="submit">отмена</button>
    </form>
</nav>

<table *ngIf="currentType && !newObjectTypes"
    class="table">
    <thead>
        <tr>
            <th>Код</th>
            <th>Наименование</th>
            <th>Тип</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let attr of currentType.attributes">
            <tr>
                <td>
                    {{ attr.code }}
                </td>
                <td>
                    {{ attr.name }}
                </td>
                <td>
                    {{ attr.type }}
                </td>
                <td>
                    <ng-container *ngIf="attr.deleted != DeletedFlag.Y">
                        <a (click)="deleteAttribut(attr)"> удалить </a>
                    </ng-container>
                </td>
            </tr>
        </ng-container>
        <tr *ngIf="attributeForm">
            <td>
                <input [formControl]="attributeForm.controls['code']"
                    placeholder="код" />
            </td>
            <td>
                <input [formControl]="attributeForm.controls['name']"
                    placeholder="наименование" />
            </td>
            <td>
                <select [formControl]="attributeForm.controls['type']">
                    <option *ngFor="let type of Object.keys(AttrValueTypes)"
                        [value]="type">{{ AttrValueTypes[type] }}</option>
                </select>
            </td>
            <td>
                <a (click)="addAttribut()"> добавить </a>
            </td>
        </tr>
    </tbody>
</table>