<div class="main-frame">
    <div class="menu">
        <nav>
            <ul>
                <li>
                    <a routerLink="/objects"
                       routerLinkActive="active">Объекты</a>
                </li>
                <li>
                    <a routerLink="/objects-types"
                       routerLinkActive="active">Типы объектов</a>
                </li>
                <li>
                    <a (click)="logout()" href="#" >выход</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="app-content">
        <div class="content-wrapper">
            <ng-container *ngIf="isLoggedIn">
                <router-outlet></router-outlet>
            </ng-container>
            <ng-container *ngIf="!isLoggedIn">
                <app-login></app-login>
            </ng-container>
        </div>
    </div>
</div>