<div class="main-frame">
    <div class="menu">
        <nav>
            <ul>
                <li>
                    <a routerLink="/objects"
                        routerLinkActive="active">Объекты</a>
                </li>
                <li>
                    <a routerLink="/objects-types"
                        routerLinkActive="active">Типы объектов</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="app-content">
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>