<ng-container *ngIf="template == 'card' && objectType">
    <div>Тип: {{ objectType.name }}</div>
    <ul>
        <ng-container *ngFor="let attr of objectType.attributes">
            <li>{{ attr.name }}({{ attr.type }}): {{ objectInfo.attributes[attr.code] }}</li>
        </ng-container>
    </ul>
</ng-container>

<ng-container *ngIf="template == 'listItem' && objectType">
    <div class="object-link">
        <a (click)="clickObject.emit(objectInfo.id)"
           class="text-decoration-none"
           style="cursor: pointer;">{{ objectType.name }} #{{ objectInfo.id }}</a>
        <ng-container *ngIf="actionsTemplate">
            <ng-container [ngTemplateOutlet]="actionsTemplate"
                          [ngTemplateOutletContext]="{object:objectInfo}"></ng-container>
        </ng-container>
    </div>
    <ul>
        <ng-container *ngFor="let attr of objectType.attributes">
            <li>{{ attr.name }}({{ attr.type }}): {{ objectInfo.attributes[attr.code] }}</li>
        </ng-container>
    </ul>
</ng-container>