

.bi-file-earmark-plus {
    display: block;
    background-image: url('/assets/icons/file-earmark-plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.journal-x {
    display: block;
    background-image: url('/assets/icons/journal-x.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}